<html>
    <head>
        <title>Sasha's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Sasha's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Dreams of summer – Anemone</a></h2>
            <p>Today is 1st of December and it’s very cold. It isn’t snowing in London but I am shivering in the garden from the cold wind… And dreaming of summer… Particularly of the warm August day when my partner and I went so see gardens at Great Dixter. This was my first visit to Great Dixter and I was truly impressed. I remember that day for taste of mulberry straight from a huge old tree growing near the house, green columns of topiary against the blue sky, bright dahlias and tall grasses in the borders, pottery workshop and my first ever pot made on the wheel. I will write a post about this visit someday but today I have memories of anemones I saw in Great Dixter. Their stunning colours and proud flower heads, sun shinning on the petals and their cool seed pods.

I wanted to grow Japanese anemones (Anemone hupehensis) for a long time. I like the idea of autumn flowers and their elegant look!  I tried to collect seeds at Great Dixter garden but the seed pods were not ripe. I also heard that Japanese anemones are difficult to grow from seed as the seed has only a short viability span. So it never happened this year.

In 2018 I am planning to realise my dream and get some plants at last! I hope it will happen 🙂 I researched some cultivars and the ones I fancy to grow in my garden are: September Charm, Queen Charlotte, Hadspen Abundance and Honorine Jobert. While doing research, I found an article in The Telegraph on How to grow: Japanese anemone. It explains that the term Japanese anemone is actually misleading – “A. hupehensis is a native of Hupeh province in eastern China, but it was grown in Japanese gardens for centuries, hence the confusion”.  The article also tells about one distinctive anemone which was first listed by Beth Chatto in 1980. An interesting read!

Are you growing Japanese anemones in your garden or allotment? What are your favorite varieties? Have you tried to propagate them from seed? Any advice will be much appreciated! Thank you for reading and until next time, bye bye.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Propagating Molodilo plant for a friend</a></h2>
            <p>A few weeks ago my Russian friend from the dojo asked me “Have you heard about the Molodilo plant?” I had not… “It looks very cool, there are so many varieties with different colours to choose from and it keeps you young!” he carried on. “Wow, that sounds amazing!” I said. I was intrigued, I really wanted this plant by then but I still didn’t have any idea what it was! We googled it…
I looked at the pictures and saw Sempervivum plants. “It is just a houseleek… I have it, I will bring you some” I said disappointed. My friend seemed to be happy. “You know, Russian people believe if you have Molodilo in your house, you will stay young forever. Hence the name “Molodilo” from Russian “molod” meaning young!” he explained.

When I returned home, I was curious to find out more about Sempervivum plants. The name Sempervivum came from the Latin Semper (“always”) and Vivus (“living”), because this perennial plant keeps its leaves in winter and tolerates extreme temperatures and drought. The common name “houseleek” comes from the fact that people were growing plants on the roofs believing it will protect them against fire and lighting strikes. The plant was under a favour of Roman god Jupiter, god of the sky and thunder. In old times in Russia people believed Sempervivum plants had some useful medicinal benefits. In spring with food being scarce peasants ate Molodilo and felt younger (or maybe just less hungry).

‎I inherited my houseleek plant from previous owners of our house and I must admit in the first winter it almost died… but true to its name the plant survived and started flowering in the summer. I was surprised to find little star pink flowers with bright yellow in the center. By autumn my houseleek plant had lots of small rosettes which I separated and potted up to give them to my friend.

‎I think no plant is too trivial or boring to grow. Every plant in nature has its own history, uses and its own unique beauty! What do you think?</p>
        </div>
    </body>
</html>
